.root{
    -fx-background-image: url("../img/acoustic-guitar-background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1366 768;
    -fx-background-position: center center;
}

.button{
    -fx-background-color: #b8813d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-border-color: #b8813d;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.button:hover{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: #b8813d;
    -fx-border-color: #b8813d;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}